# Import necessary libraries

In [1]:
import pandas as pd
import os
import numpy as np
from matplotlib import pyplot as plt
from keplergl import KeplerGl
from pyproj import CRS

# Read Dataset

In [2]:
folderpath = r"C:\Users\chenh\z_Careerfoundry\A2_DataVisal\Data\Processed data"

In [3]:
df=pd.read_csv(os.path.join(folderpath, 'NewYorkbike.csv'))

C:\Users\chenh\AppData\Local\Temp\ipykernel_12960\2453211304.py:1: DtypeWarning: Columns (6,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(os.path.join(folderpath, 'NewYorkbike.csv'))

In [4]:
df.drop(columns = {'Unnamed: 0','_merge'}, inplace = True)

In [5]:
df.columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual', 'date', 'avgTemp'],
      dtype='object')

In [6]:
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,date,avgTemp
0,88237B34DAFDB069,electric_bike,2022-01-01 00:00:13,2022-01-01 00:30:28,Broadway & W 160 St,8157.06,Broadway & W 160 St,8157.06,40.835775,-73.943400,40.835775,-73.943400,casual,2022-01-01,11.6
1,4545E384F601A7E9,classic_bike,2022-01-01 00:00:32,2022-01-01 00:02:15,Forsyth St & Broome St,5453.05,Forsyth St & Broome St,5453.05,40.718939,-73.992663,40.718939,-73.992663,member,2022-01-01,11.6
2,7CE9B56332A37463,electric_bike,2022-01-01 00:00:42,2022-01-01 00:11:38,Myrtle Ave & Marcy Ave,4707.03,Willoughby St & Fleet St,4628.05,40.695398,-73.949549,40.691966,-73.981302,member,2022-01-01,11.6
3,4012D0DCF0DECD64,classic_bike,2022-01-01 00:00:44,2022-01-02 01:00:38,W 43 St & 10 Ave,6756.01,NaN,NaN,40.760094,-73.994618,NaN,NaN,casual,2022-01-01,11.6
4,AEAF2FFEBB00845B,electric_bike,2022-01-01 00:00:50,2022-01-01 02:39:37,W 15 St & 7 Ave,6030.06,W 33 St & 7 Ave,6407.07,40.739355,-73.999318,40.750200,-73.990931,casual,2022-01-01,11.6

# Create a new aggregated dataframe

In [7]:
df['value'] = 1

In [8]:
df_group = df.groupby(
    ['start_station_name', 'end_station_name'], as_index=False
).agg({
    'start_lat': 'mean',
    'start_lng': 'mean',
    'end_lat': 'mean',
    'end_lng': 'mean',
    'value': 'sum'
})

In [9]:
df_group.head()

,start_station_name,end_station_name,start_lat,start_lng,end_lat,end_lng,value
0,1 Ave & E 110 St,1 Ave & E 110 St,40.792335,-73.938280,40.792327,-73.938300,791
1,1 Ave & E 110 St,1 Ave & E 18 St,40.792327,-73.938300,40.733812,-73.980544,2
2,1 Ave & E 110 St,1 Ave & E 30 St,40.792344,-73.938282,40.741444,-73.975361,4
3,1 Ave & E 110 St,1 Ave & E 39 St,40.792327,-73.938300,40.747140,-73.971130,1
4,1 Ave & E 110 St,1 Ave & E 44 St,40.792336,-73.938301,40.750020,-73.969053,12

In [10]:
top_20 = df_group.nlargest(20, 'value')

In [11]:
top_20

,start_station_name,end_station_name,start_lat,start_lng,end_lat,end_lng,value
294971,Central Park S & 6 Ave,Central Park S & 6 Ave,40.765913,-73.976346,40.765909,-73.976342,12041
147754,7 Ave & Central Park South,7 Ave & Central Park South,40.766733,-73.979084,40.766741,-73.979069,8541
782289,Roosevelt Island Tramway,Roosevelt Island Tramway,40.757282,-73.953597,40.757284,-73.953600,8213
548187,Grand Army Plaza & Central Park S,Grand Army Plaza & Central Park S,40.764393,-73.973730,40.764397,-73.973715,7287
800503,Soissons Landing,Soissons Landing,40.692320,-74.014865,40.692317,-74.014866,7275
896940,W 21 St & 6 Ave,9 Ave & W 22 St,40.741742,-73.994150,40.745497,-74.001971,6345
119316,5 Ave & E 72 St,5 Ave & E 72 St,40.772824,-73.966858,40.772828,-73.966853,6037
6539,1 Ave & E 62 St,1 Ave & E 68 St,40.761223,-73.960939,40.765005,-73.958185,5826
1013396,Yankee Ferry Terminal,Yankee Ferry Terminal,40.687067,-74.016754,40.687066,-74.016756,5759
255085,Broadway & W 58 St,Broadway & W 58 St,40.766935,-73.981715,40.766953,-73.981693,5509
21419,12 Ave & W 40 St,12 Ave & W 40 St,40.760877,-74.002781,40.760875,-74.002777,5409
250493,Broadway & W 41 St,Broadway & W 41 St,40.755153,-73.986662,40.755136,-73.986580,5316
299315,Central Park West & W 72 St,Central Park West & W 72 St,40.775799,-73.976190,40.775794,-73.976206,5262
722609,Norfolk St & Broome St,Henry St & Grand St,40.717222,-73.988013,40.714211,-73.981095,4883
990802,West St & Chambers St,West St & Chambers St,40.717555,-74.013217,40.717548,-74.013221,4768
986487,West Drive & Prospect Park West,West Drive & Prospect Park West,40.661076,-73.979429,40.661063,-73.979453,4643
990533,West St & Chambers St,Pier 40 - Hudson River Park,40.717553,-74.013219,40.727714,-74.011296,4584
121085,5 Ave & E 87 St,5 Ave & E 87 St,40.782326,-73.959866,40.782323,-73.959875,4571
1013380,Yankee Ferry Terminal,Soissons Landing,40.687067,-74.016754,40.692317,-74.014866,4556
724267,North Moore St & Greenwich St,Vesey St & Church St,40.720196,-74.010302,40.712220,-74.010472,4523

In [12]:
m = KeplerGl(height = 700, data={"data_1": df_group})
m

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

KeplerGl(data={'data_1':             start_station_name       end_station_name  start_lat  start_lng  \
0     …

# Customize the output of your map

1.I set both the starting and ending points to solid colors for clearer display.

2.Additionally, I set the starting point to red and the ending point to yellow, creating more contrast and making it easier to distinguish between the two.

3.Finally, I connected the starting and ending points with a line that transitions from red to yellow, which not only shows the specific route but also indicates the direction of travel.

# Add a filter to your map and use it to see what the most common trips

Observations show that popular cycling areas in New York City include:

1.Central Park area

2.Times Square area

3.Chelsea area

4.Koreatown area

5.West Riverfront area

In [13]:
config = m.config

In [14]:
import json
with open("config.json", "w") as outfile:
    json.dump(config, outfile)

In [15]:
m.save_to_html(file_name = 'NewYork Bike Trips Aggregated_r.html', read_only = False, config = config)

Map saved to NewYork Bike Trips Aggregated_r.html!

# Top20 Map

In [16]:
m20 = KeplerGl(height = 700, data={"data_1": top_20})
m20

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

KeplerGl(data={'data_1':                         start_station_name                   end_station_name  \
2949…

In [17]:
config_20 = m20.config

In [18]:
import json
with open("config.json", "w") as outfile:
    json.dump(config_20, outfile)

In [19]:
m20.save_to_html(file_name = 'NewYork Bike Trips TOP20 Aggregated.html', read_only = False, config = config_20)

Map saved to NewYork Bike Trips TOP20 Aggregated.html!