# Import necessary libraries

In [1]:
import pandas as pd
import os
import numpy as np
from matplotlib import pyplot as plt
from keplergl import KeplerGl
from pyproj import CRS

# Read Dataset

In [2]:
folderpath = r"C:\Users\chenh\z_Careerfoundry\A2_DataVisal\Data\Processed data"

In [3]:
df=pd.read_csv(os.path.join(folderpath, 'NewYorkbike.csv'))

C:\Users\chenh\AppData\Local\Temp\ipykernel_40044\2453211304.py:1: DtypeWarning: Columns (6,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(os.path.join(folderpath, 'NewYorkbike.csv'))

In [4]:
df.drop(columns = {'Unnamed: 0','_merge'}, inplace = True)

In [5]:
df.columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual', 'date', 'avgTemp'],
      dtype='object')

In [6]:
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,date,avgTemp
0,88237B34DAFDB069,electric_bike,2022-01-01 00:00:13,2022-01-01 00:30:28,Broadway & W 160 St,8157.06,Broadway & W 160 St,8157.06,40.835775,-73.943400,40.835775,-73.943400,casual,2022-01-01,11.6
1,4545E384F601A7E9,classic_bike,2022-01-01 00:00:32,2022-01-01 00:02:15,Forsyth St & Broome St,5453.05,Forsyth St & Broome St,5453.05,40.718939,-73.992663,40.718939,-73.992663,member,2022-01-01,11.6
2,7CE9B56332A37463,electric_bike,2022-01-01 00:00:42,2022-01-01 00:11:38,Myrtle Ave & Marcy Ave,4707.03,Willoughby St & Fleet St,4628.05,40.695398,-73.949549,40.691966,-73.981302,member,2022-01-01,11.6
3,4012D0DCF0DECD64,classic_bike,2022-01-01 00:00:44,2022-01-02 01:00:38,W 43 St & 10 Ave,6756.01,NaN,NaN,40.760094,-73.994618,NaN,NaN,casual,2022-01-01,11.6
4,AEAF2FFEBB00845B,electric_bike,2022-01-01 00:00:50,2022-01-01 02:39:37,W 15 St & 7 Ave,6030.06,W 33 St & 7 Ave,6407.07,40.739355,-73.999318,40.750200,-73.990931,casual,2022-01-01,11.6

In [7]:
df['start_lat'] = df['start_lat'].round(3)
df['start_lng'] = df['start_lng'].round(3)
df['end_lat'] = df['end_lat'].round(3)
df['end_lng'] = df['end_lng'].round(3)

In [8]:
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,date,avgTemp
0,88237B34DAFDB069,electric_bike,2022-01-01 00:00:13,2022-01-01 00:30:28,Broadway & W 160 St,8157.06,Broadway & W 160 St,8157.06,40.836,-73.943,40.836,-73.943,casual,2022-01-01,11.6
1,4545E384F601A7E9,classic_bike,2022-01-01 00:00:32,2022-01-01 00:02:15,Forsyth St & Broome St,5453.05,Forsyth St & Broome St,5453.05,40.719,-73.993,40.719,-73.993,member,2022-01-01,11.6
2,7CE9B56332A37463,electric_bike,2022-01-01 00:00:42,2022-01-01 00:11:38,Myrtle Ave & Marcy Ave,4707.03,Willoughby St & Fleet St,4628.05,40.695,-73.950,40.692,-73.981,member,2022-01-01,11.6
3,4012D0DCF0DECD64,classic_bike,2022-01-01 00:00:44,2022-01-02 01:00:38,W 43 St & 10 Ave,6756.01,NaN,NaN,40.760,-73.995,NaN,NaN,casual,2022-01-01,11.6
4,AEAF2FFEBB00845B,electric_bike,2022-01-01 00:00:50,2022-01-01 02:39:37,W 15 St & 7 Ave,6030.06,W 33 St & 7 Ave,6407.07,40.739,-73.999,40.750,-73.991,casual,2022-01-01,11.6

# Create a new aggregated dataframe

In [9]:
df['value'] = 1
df_group = df.groupby(['start_station_name', 'end_station_name','start_lat','start_lng','end_lat','end_lng'])['value'].count().reset_index()

In [10]:
df_group.head()

,start_station_name,end_station_name,start_lat,start_lng,end_lat,end_lng,value
0,1 Ave & E 110 St,1 Ave & E 110 St,40.792,-73.938,40.792,-73.938,786
1,1 Ave & E 110 St,1 Ave & E 110 St,40.793,-73.938,40.792,-73.938,5
2,1 Ave & E 110 St,1 Ave & E 18 St,40.792,-73.938,40.734,-73.981,2
3,1 Ave & E 110 St,1 Ave & E 30 St,40.792,-73.938,40.741,-73.975,4
4,1 Ave & E 110 St,1 Ave & E 39 St,40.792,-73.938,40.747,-73.971,1

In [11]:
m = KeplerGl(height = 700, data={"data_1": df_group})

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

In [12]:
m

KeplerGl(data={'data_1':             start_station_name       end_station_name  start_lat  start_lng  \
0     …

# Customize the output of your map

1.I set both the starting and ending points to solid colors for clearer display.

2.Additionally, I set the starting point to red and the ending point to yellow, creating more contrast and making it easier to distinguish between the two.

3.Finally, I connected the starting and ending points with a line that transitions from red to yellow, which not only shows the specific route but also indicates the direction of travel.

# Add a filter to your map and use it to see what the most common trips

Observations show that popular cycling areas in New York City include:

1.Central Park area

2.Times Square area

3.Chelsea area

4.Koreatown area

5.West Riverfront area

In [14]:
config = m.config

In [15]:
import json
with open("config.json", "w") as outfile:
    json.dump(config, outfile)

In [16]:
m.save_to_html(file_name = 'NewYork Bike Trips Aggregated.html', read_only = False, config = config)

Map saved to NewYork Bike Trips Aggregated.html!